/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* BEGIN MODIFICATION: defining small forms that only have a few fields - Gaston */
.small-form-area {
  padding: 25px;
  /*max-width: 320px;*/
  background-color: #F5F5F5;
}

.small-form-jumbotron {
  padding: 25px;
  max-width: 320px;
  color: white;
}
/* END MODIFICATION: defining small forms that only have a few fields - Gaston */

/* BEGIN MODIFICATION: defining title area text on pages - Gaston */
.header {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F5F5F5;
}

.header h1 {
  font-size: 42px;
}
.header .btn {
  padding-top: 20px;
  font-size: 32px;
}

.welcome-text h2 {
  padding-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  font-weight: 900px;
  color: white;
}

.welcome-text-user h2 {
  padding-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.welcome-text-notice {
  padding-left: 20px;
}

.jumbotron {
  background: url(http://i.huffpost.com/gen/1359271/thumbs/o-FOUNDATION-MAKEUP-BRUSH-facebook.jpg) no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.form-group {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.form-intro-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  padding-left: 20px;
}

.product-list-container {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.home-button {
  padding-top: 25px;
}

.product-review-row {
  padding-bottom: 12px;
  padding-left: 5px;
}

/* END MODIFICATION: defining title area text on pages - Gaston */

